@font-face {
    font-family: 'Suisse-Intl';
    src: url('https://db.https://db.onlinewebfonts.com/c/eb270b13b84d5a43462737e3fb0a268d?family=Suisse+Intl+Regular.com/t/eb270b13b84d5a43462737e3fb0a268d.eot') format('truetype');
    src: url("https://db.onlinewebfonts.com/t/eb270b13b84d5a43462737e3fb0a268d.eot");
    src: url("https://db.onlinewebfonts.com/t/eb270b13b84d5a43462737e3fb0a268d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/eb270b13b84d5a43462737e3fb0a268d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/eb270b13b84d5a43462737e3fb0a268d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/eb270b13b84d5a43462737e3fb0a268d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/eb270b13b84d5a43462737e3fb0a268d.svg#Suisse Intl Regular")format("svg");
    /* Add more font formats (e.g., woff, woff2) for cross-browser compatibility */
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
/* Style the new paragraph */
html{
    width: auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /*-webkit-text-size-adjust: 100%;*/
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.custom-cursor {
    position: fixed;
    width: 20px; /* Set the width of your custom cursor */
    height: 20px; /* Set the height of your custom cursor */
    background-image: url('Asset 1-8.png'); /* Replace 'custom-cursor.png' with the actual path to your PNG image */
    background-size: cover;
    pointer-events: none; /* Ensure the cursor doesn't interfere with elements */
    z-index: 9999; /* Make sure the cursor is on top of everything */
  }

  h2 {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;    
}


.intro p{
    background-color: #F2F2F2; /* Set your desired background color */
    padding: 0px; /* Add padding for spacing within the background */
    font-size: 1000%; /* Set your desired font size */
    line-height: 90%;
}
section p {
    background-color: #F2F2F2;

}

body{
background-color: #F2F2F2;
}

/* Apply the "Suisse Int'l" font to your body text */
* {
    font-family: 'Suisse-Intl', sans-serif;
    font-size: 15pt;
    line-height: 18pt;
   
}

header {
    position: sticky;
    top: 0;
    z-index: 2000000000;
}

h1 {
    font-kerning: normal;
    font-style: bold;
    margin: 0%;
    line-height: 80%;
    padding-left: 15px;
    
}
/* Style for the h1 link */
h1 a {
    text-decoration: none; /* Remove underlines */
    color: #333; /* Change the link color as desired */
    /* You can add more styling, such as hover effects if needed */
}
#animated-name {
    transform: translateX(0); /* Initial position */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
    /* Additional styling like font size, color, etc. */
  }




#home {
    list-style-type: none;
    padding: 0%;
    margin :0%;
    max-width: 50%;
}


a { color:black
 }

a:hover { text-decoration: none; 
          color:gainsboro; }

.project {

    background-color:#F2F2F2

}

.bodyhome {

    background-color:#333;

}

p { 
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* Style for the project container */
.project {
    float: right;
    background-color: #F2F2F2;
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%;
}

/* Style for the project content container */
.project-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
}


.project-images {
    display: flex;
    float: right;
    align-items: center; /* Center the images vertically */
    height: 70vh; /* 70% of the viewport height */
    width: 83.100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 5px;


}

.project-images img {
    max-width: 100%;
    max-height: 100%; /* Fit the images within the available height */
    margin-right: 10px;
}


.project-scroll {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.project-text {
    float: left;
    display: table;
    width: 100%; /* Adjust the width as needed */
}

/* Style for the project details (left column) */
.col-1-details {
    padding: 5px;
    padding-left: 20px;
    width: 16.66%;
}

/* Style for the main paragraph (right column) */
.project-description {
    float: right;
    width: 83.33%;
    }
    


/* Style for the project description */
[class*="col-"]{
    float: left;
}
.col-2-description{
    width: 100%;
    padding: 5px;
}
.col-3-description{

}



.index {
    position:fixed;
    background-color: #ff4040;
    padding-top: 55px;
    padding-right: 30px;
    padding-left: 20px;
    width: 16.66%;
    top: 0;
    left: -16.66%;
    float:right;
    height: 102%;
    z-index: 1400000;
    overflow-y: scroll;
   transition: 1s;
   }

   .index.active{
     left: 0%;
     padding-top: 20px;
     transition: 1s;
     background-color: #ff4040;
   }

   #nav_bar{
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding-top: 40px;
    top: 0;
    left: 0;
    z-index: 1900000000;
        text-transform: uppercase;
    height: 102%;
    width: 20px;
    cursor: pointer;
    background: #ff4040;
    transition: 1s;
   
   }
  
   #nav_bar.active {
    /* left:44.5%;*/
    padding-top: 80px;

    left: 14.91%;
    transition: 1s;
    background-color:#ff4040;
    
   }
  
   #index_button{
  display: block;
transform: rotate(-90deg);
  /*transform-origin: top left;
  /* Note: for a CLOCKWISE rotation, use the commented-out
     transform instead of this one. */
  /*transform: rotate(-90deg) translate(-30%);
  /* transform: rotate(90deg) translate(0, -100%); */
 /* margin-top: 5%;
 
 
  /* Not vital, but possibly a good idea if the element you're rotating contains
     text and you want a single long vertical line of text and the pre-rotation
     width of your element is small enough that the text wraps: */
  /*white-space: nowrap;*/
   }
#index_text{
    
        border-style: solid;
        border-width: 0px;
        border-top-width: 1px;
      
}
/* Style for the dropdown menu */
.dropdown {
    text-transform: uppercase;
    position: absolute;
    top: 2%; /* Adjust the top position to your preference */
    right: 0%; /* Adjust the right position to your preference */
    width: 15%;
    text-align: right;
    display: inline-block;
}

/* Style for the dropdown content (hidden by default) */
.dropdown-content {
    text-transform: uppercase;

    display: none;
    position: absolute;
    text-align: left;
    background-color: #f9f9f9; /* Background color for the dropdown */
    min-width: 160px; /* Adjust the width as needed */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Dropdown shadow */
    right: 0;
    z-index: 1;
}

/* Style for dropdown links */
.dropdown-content a {

    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Style for dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd; /* Highlight on hover */
}

/* Show the dropdown content when hovering over the "Projects" link */
.dropdown:hover .dropdown-content {
    display: block;
}

#rotate-image {
    max-width:100%; /* Ensure the image fits the container */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    animation: rotateImage 5s linear infinite; /* Rotate the image continuously */
}

@keyframes rotateImage {
    0% {
        transform: rotateY(0deg); /* Initial position */
    }
    100% {
        transform: rotateY(360deg); /* Rotate 360 degrees on the z-axis */
    }
}



/* Keyframes animation for moving the name */
@keyframes moveName {
    0% {
        transform: translateX(0); /* Start from the left */
    }
    100% {
        transform: translateX(100%); /* Move to the right edge */
    }
}

/* Apply the animation to the name 
#animated-name {
    margin: 0;
    line-height: 80%;
    animation: moveName 5s linear infinite; 
    animation-play-state: paused; 
}
#animated-name.active {
    animation-play-state: running;
}*/
@media only screen and (max-width: 768px){
    *{
        font-size: 12pt;
        line-height: 14pt;
    }
    .col-2-description{
        width: 100%;
        padding-bottom: 0;
    }
    .col-3-description{
        width: 100%;
        padding-top: 0;
    }
   

h2 {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 5px;
}
.project {
    flex-direction: column; /* Stack elements on smaller screens */
}
.project-images{
    height: 30vh;
    width: 100%;
}
.col-1-details {
    float: none; /* Remove the float to stack elements */
    width: 100%; /* Occupy full width */}
.project-description {
    width: 100%; /* Occupy full width */
    float: none; /* Remove the float to stack elements */
    padding-left: 20px;
}

.dropdown {
    right: 0; /* Set the right position to 0 to avoid overflowing on mobile */
    width: auto; /* Let it occupy the width it needs */
}

.index {
    position:fixed;
    background-color: #ff4040;
    padding-top: 55px;
    padding-right: 30px;
    padding-left: 20px;
    width: 100%;
    top: 0;
    left: -100%;
    float:right;
    height: 102%;
    z-index: 1400000;
    overflow-y: scroll;
   transition: 1s;
   }

   .index.active{
     left: 0%;
     padding-top: 20px;
     transition: 1s;
     background-color: #ff4040;
   }

   #nav_bar{
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding-top: 40px;
    top: 0;
    left: 0;
    z-index: 1900000000;
        text-transform: uppercase;
    height: 102%;
    width: 20px;
    cursor: pointer;
    background: #ff4040;
    transition: 1s;
   
   }
  
   #nav_bar.active {
    /* left:44.5%;*/
    padding-top: 80px;

    left: 95%;
    transition: 1s;
    background-color:#ff4040;
    
   }
  
   #index_button{
  display: block;
transform: rotate(-90deg);
  /*transform-origin: top left;
  /* Note: for a CLOCKWISE rotation, use the commented-out
     transform instead of this one. */
  /*transform: rotate(-90deg) translate(-30%);
  /* transform: rotate(90deg) translate(0, -100%); */
 /* margin-top: 5%;
 
 
  /* Not vital, but possibly a good idea if the element you're rotating contains
     text and you want a single long vertical line of text and the pre-rotation
     width of your element is small enough that the text wraps: */
  /*white-space: nowrap;*/
   }
#index_text{
    
        border-style: solid;
        border-width: 0px;
        border-top-width: 1px;
      
}
.dropdown {
    right: 0; /* Set the right position to 0 to avoid overflowing on mobile */
    width: auto; /* Let it occupy the width it needs */
    z-index:200000000000000;
}

}


@media only screen and (max-width: 400px) {
    /* Your responsive CSS styles for screens up to 400px wide */
    *{
        font-size: 12pt;
        line-height: 14pt;
    }
    .col-2-description{
        width: 100%;
        padding-bottom: 0;
    }
    .col-3-description{
        width: 100%;
        padding-top: 0;
    }
    p { 
        font-size: 100%;
    
}
h2 {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 5px;
}
.project {
    flex-direction: column; /* Stack elements on smaller screens */
    padding-left: 20px;
}
.project-images{
    height: 30vh;
    width: 100%;
    padding: 0px;
    padding-top: 5px;
}
.col-1-details {
    float: none; /* Remove the float to stack elements */
    width: 100%; /* Occupy full width */
}

.project-description {
    width: 100%; /* Occupy full width */
    float: none; /* Remove the float to stack elements */
    padding-left: 15px;
}

.project-text {
    font-size: 12pt;
    line-height: 14pt;
}
.dropdown {
    right: 0; /* Set the right position to 0 to avoid overflowing on mobile */
    width: auto; /* Let it occupy the width it needs */
    z-index:200000000000000;
}
.index {
    position:fixed;
    background-color: #ff4040;
    padding-top: 55px;
    padding-right: 30px;
    padding-left: 20px;
    width: 100%;
    top: 0;
    left: -100%;
    float:right;
    height: 102%;
    z-index: 1400000;
    overflow-y: scroll;
   transition: 1s;
   }

   .index.active{
     left: 0%;
     padding-top: 20px;
     transition: 1s;
     background-color: #ff4040;
   }

   #nav_bar{
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding-top: 40px;
    top: 0;
    left: 0;
    z-index: 1900000000;
        text-transform: uppercase;
    height: 102%;
    width: 20px;
    cursor: pointer;
    background: #ff4040;
    transition: 1s;
   
   }
  
   #nav_bar.active {
    /* left:44.5%;*/
    padding-top: 80px;

    left: 95%;
    transition: 1s;
    background-color:#ff4040;
    
   }
  
   #index_button{
  display: block;
transform: rotate(-90deg);
  /*transform-origin: top left;
  /* Note: for a CLOCKWISE rotation, use the commented-out
     transform instead of this one. */
  /*transform: rotate(-90deg) translate(-30%);
  /* transform: rotate(90deg) translate(0, -100%); */
 /* margin-top: 5%;
 
 
  /* Not vital, but possibly a good idea if the element you're rotating contains
     text and you want a single long vertical line of text and the pre-rotation
     width of your element is small enough that the text wraps: */
  /*white-space: nowrap;*/
   }
#index_text{
    
        border-style: solid;
        border-width: 0px;
        border-top-width: 1px;
      
}
body {
    cursor: none;
  }
  a {
    cursor: none;
  }

}
